<main>
<h1>profile</h1>
<img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100"/>
<% if(profile_user.id == locals.user.id){ %>
    <form action="/user/profile/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" id="name" value="<%= profile_user.name %>"/>
        <input type="email" name="email" id="email" value="<%= profile_user.email %>"/>
        <input type="file" name="avatar" />
        <button>Update</button>
    </form>
<% } else{ %>
<div><span>Name:</span><span><%= profile_user.name %></span></div>
<div><span>E-mail:</span><span><%= profile_user.email %></span></div>
<div><a id="friend-btn" href="/friend/toggle/<%=profile_user.id %>" ><%= frndStatus %></a></div>
<% } %>
</main>
<script src="/js/profile_friend.js"></script>